<div class="content-wrapper">
    <footer class="footer">
        <div class="social-links">
          <a href="#" target="_blank"><i class="fab fa-facebook"><p> &#64;threadsforchange</p></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"><p> &#64;threadsforchange</p></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"><p> &#64;threadsforchange</p></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"><p> &#64;threadsforchange</p></i></a>
        </div>
        <div class="form-container">
          <h3>Stay Updated!</h3>
          <form>
            <input type="text" placeholder="First Name" required>
            <input type="text" placeholder="Last Name" required>
            <input type="email" placeholder="Email" required>
            <input type="text" placeholder="Address" required>
            <button type="submit">Submit</button>
          </form>
        </div>
      </footer>
</div>