<head>
    <title>Header Bar</title>
</head>
<body>
    <header class="header">
        <ul class="nav-links">
            <li><a href="#">About Us</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="#">Portfolio</a></li>
        </ul>
        <div class="title"><a href="">My Website</a></div>
        <ul class="nav-links">
            <li><a href="/events">Events</a></li>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </header>
</body>
