<head>
    <title>Header Bar</title>
</head>
<body>
    <header class="header">
        <ul class="nav-links">
            <li><a href="/about">About Us</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
        </ul>
        <div class="title"><a href="">Threads for Change</a></div>
        <ul class="nav-links">
            <li><a href="/events">Events</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <button><i class="fa-solid fa-bag-shopping"></i></button>
        </ul>
    </header>
</body>
