body {
    margin: 0;
    font-family: fangsong;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8a6c1;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    width: 100%;
}

.header .title {
    font-size: 1.5em;
    font-weight: bold;
}

.header .title a:visited, a:hover, a:active, a:link {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
}

.nav-links a:hover {
    text-decoration: underline;
}

button {
    background-color: #d8a6c1;
    border-color: #d8a6c1;
    cursor: pointer;
}

button i {
    background-color: #d8a6c1;
    border-color: #d8a6c1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3em;
}