.shop-container {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.items-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.item-card {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 200px;
  position: relative;
  pointer-events: auto !important;
}

.item-card img {
  width: 100%;
  border-radius: 5px;
}

.item-card:hover {
  transform: scale(1.05);
}